# Ignore specific folders
data sources/
Neighborhood Data/
featuresFindings/
Final Paper_files/

# Ignore system files
.DS_Store

# Ignore RStudio junk
.Rproj.user/
.Rhistory
.RData
*.Rproj
master_final_with_scores.csv
.Rproj.user/C2C86FF6/sources/per/t/C2175684-contents
.Rproj.user/C2C86FF6/sources/session-a8dddfa9/EC26B654-contents
.Rproj.user/C2C86FF6/sources/session-a8dddfa9/EC26B654-contents
